body {
    background-color: #0d0208;
    color: #00ff41;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem;
}

#terminal {
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#output {
    flex-grow: 1;
    white-space: pre-wrap; /* Allows text to wrap */
    word-wrap: break-word;
}

.prompt-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 0.5rem;
}

#command-input {
    background: none;
    border: none;
    color: #00ff41;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    flex-grow: 1;
    outline: none;
}

/* Blinking cursor effect */
#command-input:focus {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { box-shadow: 1px 0 0 #00ff41; }
    50% { box-shadow: none; }
}

.text-cyan {
    color: #00ffff;
}

.text-magenta {
    color: #ff00ff;
}

.text-yellow {
    color: #f3f3a5;
}

a {
    color: #00ffff; /* Make links cyan */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ascii {
    white-space: pre; /* preserve the ASCII art formatting */
}
